body{
    margin: 0;
    text-align: center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

hr {
    border: 0;
    text-decoration: none;
    width: 2%;
    border-top: 6px dotted #3F525B;
}

a {
    font-family: 'Noto Serif JP', serif;
    font-weight: 200;
    
    margin: 0 auto 0 auto;
    color: #36496C;
}

.middle-container {
    margin: 0 auto 0 auto;
}

p {
    font-family: 'Noto Serif JP', serif;
    font-weight: 200;
    font-size: 100%;
    width: 70%;
}

h1 {
    font-family: 'Sacramento', cursive;
    font-size: 450%;
    width: 40%;
    margin: 50px auto 0 auto;
    line-height: 2;
    color: #3F525B;
    
}

.a-programmer {
    font-size: 140%;
    color: antiquewhite;
}

h2 {
    font-family: 'Noto Serif JP', serif;
    font-weight: 200;
    font-size: 225%;
    color: #36496C;
}

h3 {
    font-family: 'Noto Serif JP', serif;
    font-weight: 200;
    font-size: 140%;
    color: #36496C;
}

.skill-row {
    width: 40%;
    margin: 100px 36% 100px 36%;
    text-align: left;
    line-height: 2;
}

.pro{
    text-decoration: underline;
}

.top-container{
    padding-top: 5%;
    position: relative;
    width: 100%;
    background-color: #96ACB7;
}

.bottom-container {
    color: antiquewhite;
    background-color: #96ACB7;
    padding-top: 3%;
    padding-bottom: .5%;
}

.top-cloud{
    position: absolute;
    right: 25%;
    top: 8%;
    transform: rotateY(180deg);
}

.profile-picture {
    width: 8%;
    border-radius: 50%;
}

.bottom-cloud{
    position: absolute;
    left: 25%;
    bottom: 45%;
    text-align: center;
}

.computer-picture {
    width: 15%;
    float: left;
    margin-right: 10%;
    margin-bottom: 5%;
}

.phone-gif {
    float: right;
    width: 12%;
    margin-left: 5%;
    margin-right: 30%;
}

.profile-message {
    margin: 0 auto 0 auto;
}

.skills {
    padding-top: 3%;
    padding-bottom: 3%;
}

.contact-me {
    padding-top: 3%;
    padding-bottom: 5%;
}

.profile {
    padding-top: 4%;
    padding-bottom: 4%;
}

.mutual-interests {
    margin: 0 auto 0 auto;
    padding-bottom: 1%;
}

.footer-link {
    color: #3F525B;
    text-decoration: none;
    line-height: 2;
    margin: 0 2% 0 1%
}

.copy-right {
    color: #3F525B;
    margin: 1% auto 1% auto;
}
